h1,h2,h3,h4{
    text-transform: uppercase;
}
h1{
    text-align: center;
    color: chocolate;
}
body{
    background-color: black;
}

.cwhite{
    color: white;
}
a{
    color:aqua;
}
.cright{
    text-align: center;
    color: blueviolet;
}
div{
    text-align:right ;
    font-size: 25px;
    word-spacing: 15px;
}
footer{
    font-size: 25px;
    word-spacing: 15px;
}
p{
    font-size: 18px;
}
ul{
    font-size: 22px;
    color: gold;
}